<div
  class="shell"
  [class.shell--mobile]="isMobile()"
  (keydown.escape)="drawerOpen() ? closeDrawer() : null"
>
  @if (drawerOpen()) {
    <div
      class="shell__backdrop"
      (click)="closeDrawer()"
      aria-hidden="true"
    ></div>
  }

  <app-sidebar
    #sidebarEl
    class="shell__sidebar"
    (keydown)="onDrawerKeydown($event)"
    [sections]="sections"
    [collapsed]="collapsed()"
    [drawerOpen]="drawerOpen()"
    [isMobile]="isMobile()"
    [activeSectionId]="activeSectionId()"
    [projectSlot]="projectSlot()"
    (linkSelected)="closeDrawer()"
    (toggleCollapsed)="onToggleCollapsed()"
    (logout)="onLogout()"
  />

  <div class="shell__main">
    <app-navbar
      [title]="title()"
      [subtitle]="subtitle()"
      [user]="user()"
      [isMobile]="isMobile()"
      (menuToggle)="openDrawer()"
      (searchFocus)="onSearchFocus()"
      (openProfile)="onOpenProfile()"
      (openSettings)="onOpenSettings()"
      (logout)="onLogout()"
    />
    <main class="shell__content" role="main">
      <router-outlet />
    </main>
  </div>
</div>
